In [1]:
# Fixing Team name changes

import pandas as pd

RAW_CSV = "../data/processed/ipl_matches_raw.csv"
CLEAN_CSV = "../data/processed/ipl_matches_clean.csv"

df = pd.read_csv(RAW_CSV)
df.head()

   season                       winner
0    2017          Sunrisers Hyderabad
1    2017       Rising Pune Supergiant
2    2017        Kolkata Knight Riders
3    2017              Kings XI Punjab
4    2017  Royal Challengers Bangalore

In [3]:
team_map = {
    "Delhi Daredevils": "Delhi Capitals",
    "Kings XI Punjab": "Punjab Kings",
    "Rising Pune Supergiant": "Rising Pune Supergiants"
}

df["winner"] = df["winner"].replace(team_map)

In [9]:
# Saving clean csv
df.to_csv(CLEAN_CSV, index=False)
print("Saved:", CLEAN_CSV)

Saved: ../data/processed/ipl_matches_clean.csv