In [1]:
# Computing cumulative wins
import pandas as pd
import numpy as np

CLEAN_CSV = "../data/processed/ipl_matches_clean.csv"

df = pd.read_csv(CLEAN_CSV)
df.head()

   season                       winner
0    2017          Sunrisers Hyderabad
1    2017      Rising Pune Supergiants
2    2017        Kolkata Knight Riders
3    2017                 Punjab Kings
4    2017  Royal Challengers Bangalore

In [4]:
# Wins per season

wins = (
    df.groupby(["season", "winner"])
    .size()
    .reset_index(name="wins")
    .rename(columns={"winner": "team"})
)

In [7]:
# create full grid

seasons = sorted(df["season"].unique())
teams = sorted(df["winner"].unique())

grid = pd.MultiIndex.from_product([seasons, teams], names=["season", "team"]).to_frame(index=False)

grid = grid.merge(wins, on=["season", "team"], how="left").fillna(0)
wins["wins"] = wins["wins"].astype(int)

In [14]:
# cumulative wins

wins = wins.sort_values(["team", "season"])
wins["cum_wins"] = wins.groupby("team")["wins"].cumsum()
wins.shape
wins.info()
wins.head()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, 0 to 155
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   season    156 non-null    int64
 1   team      156 non-null    object
 2   wins      156 non-null    int64
 3   cum_wins  156 non-null    int64
dtypes: int64(3), object(1)
memory usage: 6.1+ KB

    season                 team  wins  cum_wins
0     2008  Chennai Super Kings     9         9
8     2009  Chennai Super Kings     8        17
16    2010  Chennai Super Kings     9        26
24    2011  Chennai Super Kings    11        37
34    2012  Chennai Super Kings    10        47

In [15]:
OUT_CSV = "../data/processed/ipl_cumulative_wins.csv"
wins.to_csv(OUT_CSV, index=False)
print("Saved:", OUT_CSV)

Saved: ../data/processed/ipl_cumulative_wins.csv